# apiVersion: v1
# kind: Secret
# metadata:
#   namespace: crossplane-system
#   name: example-provider-secret
# type: Opaque
# data:
#   credentials: bmJwX21pUGFLWjY1b2dVOVdGUVVDaE9rU2VVTlFEYzJVSzI0N0Fnbw==
---
apiVersion: v1
kind: Secret
metadata:
  namespace: crossplane-system
  name: example-oauth-prov-secret
type: Opaque
data:
  credentials: ewogICAgImNsaWVudF9pZCI6ICJuZXRiaXJkLWFwaS1hZG1pbiIsCiAgICAiY2xpZW50X3NlY3JldCI6ICJmS2ZLQ1lGaEp4QnhocDNOeUVIelJKcWdSdU8zazNFWHk1T21BR1p0ZlU2b3JtcTVzNE5aUEtramdzUThEU1YzIiwKICAgICJncmFudF90eXBlIjogImNsaWVudF9jcmVkZW50aWFscyIsCiAgICAic2NvcGUiOiAib3BlbmlkIGVtYWlsIHByb2ZpbGUgdXJuOmlhbTpvcmc6cHJvamVjdDpyb2xlcyB1cm46eml0YWRlbDppYW06b3JnOnByb2plY3RzOnJvbGVzIHVybjp6aXRhZGVsOmlhbTpvcmc6cHJvamVjdDppZDozMjkyOTU3ODUzNjk4NjE2NjY6YXVkIgp9Cg==
---
# apiVersion: netbird.crossplane.io/v1alpha1
# kind: ProviderConfig
# metadata:
#   name: example
# spec:
#   management-uri: https://netbird.scaws06.scaws06ccv2.drpp.global:443
#   credentials-type: token
#   credentials:
#     source: Secret
#     secretRef:
#       namespace: crossplane-system
#       name: example-provider-secret
#       key: credentials
# ---
apiVersion: netbird.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: netbird-crossplane-provider-config
spec:
  management-uri: https://netbird.ccinfra05.drpp-onprem.global:443
  credentials-type: oauth
  oauth-issuer-url: https://zitadel.ccinfra05.drpp-onprem.global/oauth/v2/token
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: example-oauth-prov-secret
      key: credentials
# ---
# apiVersion: kubernetes.crossplane.io/v1alpha1
# kind: ProviderConfig
# metadata:
#   name: kubernetes-provider
# spec:
#   credentials:
#     source: InjectedIdentity
